@model CandidateAddEditViewModel
@{
    ViewBag.Title = "Registration";
}


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            @*<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />*@
            <h1 style="margin-top:30%">Welcome to Atidan</h1>
            @*<img src="~/images/joinus.gif" />*@
            <img src="~/images/Business-Plan.gif" />
            @*<p>You are 30 seconds away from earning your own money!</p>*@
            @*<input type="submit" name="" value="Login" /><br />*@
        </div>
        <div class="col-md-9 register-right">
            @*<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                    </li>
                </ul>*@
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading"><b>Candidate Registration Form</b></h3>
                    <form asp-action="AddCandidate" role="form">
                        <div class="row register-form">

                            @for (int idx = 0; idx < Model.PositionList.Count; idx++)
                            {
                                @Html.HiddenFor(_ => Model.PositionList[idx].Text)
                                @Html.HiddenFor(_ => Model.PositionList[idx].Value)
                            }
                            @for (int idx = 0; idx < Model.ExperienceMonthList.Count; idx++)
                            {
                                @Html.HiddenFor(_ => Model.ExperienceMonthList[idx].Text)
                                @Html.HiddenFor(_ => Model.ExperienceMonthList[idx].Value)
                            }
                            @for (int idx = 0; idx < Model.ExperienceYearList.Count; idx++)
                            {
                                @Html.HiddenFor(_ => Model.ExperienceYearList[idx].Text)
                                @Html.HiddenFor(_ => Model.ExperienceYearList[idx].Value)
                            }

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name">Name<span class="star">*</span></label>
                                    <input asp-for="Name" class="form-control" placeholder="[FullName] " />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email">Email<span class="star">*</span></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DateOfBirth">Date Of Birth<span class="star">*</span></label>
                                    <input type="date" asp-for="DateOfBirth" class="form-control" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Mobile">Mobile<span class="star">*</span></label>
                                    <input asp-for="Mobile" class="form-control" />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                                @*<a asp-controller="Candidate" asp-action="AddCandidate" class="btn btn-primary mr-4">Register</a>*@
                                <input type="submit" class="btn btn-primary" value="Register" />
                                <a asp-controller="home" asp-action="Index" class="btn btn-danger text-white">Cancel</a>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ExperienceYear">Experience Year<span class="star">*</span></label>
                                    <select asp-for="ExperienceYear" asp-items="@Model.ExperienceYearList" class="form-control">
                                        <option>Please select</option>
                                    </select>
                                    <span asp-validation-for="ExperienceYear" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ExperienceMonth">Experience Month<span class="star">*</span></label>
                                    <select asp-for="ExperienceMonth" asp-items="@Model.ExperienceMonthList" class="form-control">
                                        <option>Please select</option>
                                    </select>
                                    <span asp-validation-for="ExperienceMonth" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PositionId">Position<span class="star">*</span></label>
                                    <select asp-for="PositionId" asp-items="@Model.PositionList" class="form-control">
                                        <option>Please select</option>
                                    </select>
                                    <span asp-validation-for="PositionId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CurrentCompany">Current Company<span class="star">*</span></label>
                                    <input asp-for="CurrentCompany" class="form-control" value="N/A" />
                                    <span asp-validation-for="CurrentCompany" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@**@
<link href="~/css/home.css" rel="stylesheet" />
@*<script src="~/js/CustomScript.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
