@model ExamQuestionsViewModel

@{
    ViewBag.Title = "Start Exam";
    var nextPageNumber = Model.PageNumber + 1;
    var backPageNumber = Model.PageNumber - 1;
    var SubmitResult = @Html.Raw(Json.Serialize(Model.SubmissonResult));
    //var SubmitResult = Model.SubmissonResult;
}

@Html.Hidden("SubmissionResult_ID", SubmitResult, new { id = "SubmissionResult_ID" })
    <div class="row">
        <div class="col-md-11">
            <p class="text-info mt-2" style="font-size:30px">
                @Model.PageNumber )@Model.QuestionDescription
            </p>
        </div>
        <div class="col-md-1">
            <p class="text-info mt-2" style="font-size:30px">
                <a class="btn btn-success m-1" style="width:auto" id="SubmitTest" onclick=SubmitAnswer(@backPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"SubmitTest")>Submit Test</a>
            </p>
        </div>
    </div>


@{await Html.RenderPartialAsync("_CodeEditor"); }


<div class="row ml-0">
    @if (backPageNumber > 0)
    {
        @*<a asp-route-pageNumber="@backPageNumber" asp-route-positionId="@Model.PositionId" class="btn btn-primary m-1" style="width:auto" }> Previous Question</a>*@
        <a class="btn btn-primary m-1" style="width:auto" onclick=SubmitAnswer(@backPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"Previous")> Previous Question</a>
    }
        <a class="btn btn-primary ml-auto m-1" style="width:auto" onclick=SubmitAnswer(@nextPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"Save")>Save</a>
    @if (nextPageNumber < 5)
    {
        <a class="btn btn-primary ml-auto m-1" style="width:auto" onclick=SubmitAnswer(@nextPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"Next")> Next Question</a>
    }
</div>


@section Scripts {
    <script src="~/js/ExamSubmission.js"></script>
}
<script src="~/service/ExamSubmissionService.js"></script>
<script src="~/commonModel/commonModel.js"></script>
