@model ExamQuestionsViewModel

@{
    ViewBag.Title = "Start Exam";
    var nextPageNumber = Model.PageNumber + 1;
    var backPageNumber = Model.PageNumber - 1;
    ViewBag.backPageNumber = backPageNumber;
    ViewBag.nextPageNumber = nextPageNumber;
    var SubmitResult = @Html.Raw(Json.Serialize(Model.SubmissonResult));
    //var SubmitResult = Model.SubmissonResult;
}

@Html.Hidden("backPageNumber", backPageNumber, new { id = "back_page_number" })
@Html.Hidden("SubmissionResult_ID", SubmitResult, new { id = "SubmissionResult_ID" })
@Html.Hidden("PositionId", Model.PositionId, new { id = "position_id" })
@Html.Hidden("QuestionNumber", Model.QuestionNumber, new { id = "question_number" })
@Html.Hidden("CandidateId", Model.CandidateId, new { id = "candidate_id" })
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white"><h3>Question No. @Model.PageNumber</h3></div>
                <div class="card-body">
                    @*<p style="font-size:20px;white-space:pre-wrap;">*@
                    <h3>@Html.Raw(Model.QuestionDescription.Trim())</h3>
                    @*</p>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-2">
            <label style="font-size:20px" id="quiz-time-left"></label>
        </div>
        <div class="col-md-1">
            <a class="btn btn-success btn-lg text-white mt-1" id="SubmitTest" onclick=SubmitAnswer(@backPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"SubmitTest")>Submit Test</a>
        </div>
    </div>


@{await Html.RenderPartialAsync("_CodeEditor"); }


@section Scripts {
    <script asp-append-version="true" src="~/js/ExamSubmission.js"></script>
}
<script src="~/service/ExamSubmissionService.js"></script>
<script src="~/commonModel/commonModel.js"></script>
