@model ExamQuestionsViewModel

@{
    ViewBag.Title = "Start Exam";
    var nextPageNumber = Model.PageNumber + 1;
    var backPageNumber = Model.PageNumber - 1;
    ViewBag.backPageNumber = backPageNumber;
    ViewBag.nextPageNumber = nextPageNumber;
    var SubmitResult = @Html.Raw(Json.Serialize(Model.SubmissonResult));
    //var SubmitResult = Model.SubmissonResult;
}

@Html.Hidden("backPageNumber", backPageNumber, new { id = "back_page_number" })
@Html.Hidden("SubmissionResult_ID", SubmitResult, new { id = "SubmissionResult_ID" })
@Html.Hidden("PositionId", Model.PositionId, new { id = "position_id" })
@Html.Hidden("QuestionNumber", Model.QuestionNumber, new { id = "question_number" })
@Html.Hidden("CandidateId", Model.CandidateId, new { id = "candidate_id" })
<div class="row">
    <div class="col-md-8">
        <p style="font-size:20px;white-space:pre-wrap;">
@Model.PageNumber )@Model.QuestionDescription.Trim()
        </p>
    </div>
    <div class="col-md-3 mt-2">
        <label style="font-size:20px" id="quiz-time-left"></label>
    </div>
    <div class="col-md-1">
        <a class="btn btn-success btn-lg text-white mt-1" id="SubmitTest" onclick=SubmitAnswer(@backPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"SubmitTest")>Submit Test</a>
    </div>
</div>


@{await Html.RenderPartialAsync("_CodeEditor"); }


@*<div class="row ml-0">
    @if (backPageNumber > 0)
    {     
        <a class="btn btn-info text-white m-1" onclick=SubmitAnswer(@backPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"Previous")> Previous Question</a>
    }
    <a class="btn btn-primary text-white ml-auto m-1" onclick=SubmitAnswer(@nextPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"Save")>Save Question</a>
    @if (nextPageNumber < 5)
    {
        <a class="btn btn-info text-white ml-auto m-1" onclick=SubmitAnswer(@nextPageNumber,@Model.PositionId,@Model.QuestionNumber,@Model.CandidateId,"Next")> Next Question</a>
    }
</div>*@


@section Scripts {
    <script asp-append-version="true" src="~/js/ExamSubmission.js"></script>
}
<script src="~/service/ExamSubmissionService.js"></script>
<script src="~/commonModel/commonModel.js"></script>
