@model IEnumerable<Question>

@{
    ViewBag.Title = "Question List";
}

<div class="top-buffer"></div>
<div class="card">
    <div class="card-header bg-primary text-white"><h4>Questions</h4></div>
    <div class="card-body">
        <div class="btn-group">

            <a id="createEditQuestionModal" asp-action="AddQuestion" class="btn btn-primary" style="width:auto">
                <i class="material-icons" style="font-size:18px;">add</i>  Add Question
            </a>

        </div>
        
       @*// <div class="top-buffer"></div>*@
        <table class="table table-bordered table-striped table-condensed mt-1">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Marks</th>
                    <th width="15%">Position</th>
                    <th width="13%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.QuestionDescription</td>
                        <td>@item.Marks</td>
                        <td>@item.Position</td>
                        <td>
                            <a id="editUserModal" asp-controller="Question" asp-action="EditQuestion" asp-route-id="@item.Id"
                               class="btn btn-info" style="width:auto">
                                <i class="material-icons" style="font-size:18px">&#xE254;</i>  Update
                            </a>
                            <a id="deleteUserModal" asp-controller="Question" asp-action="DeleteQuestion" asp-route-id="@item.Id" class="btn btn-danger" style="width:auto">
                                <i class="material-icons" style="font-size:18px;">delete</i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>  