@model PdfData
@{
    Layout = null;
    ViewData["Title"] = "Exam Result";
    var counter = 0;
}
<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="offset-md-2 col-md-2">
        <img id="logo" src="~/images/logo.jpg" alt="Logo" />
    </div>
    <div class="row" style="margin-top:30px; border-bottom:solid;border-top:solid">
        <div class="offset-md-2 col-md-3">
        <h5><pre><b>Candidate Name   :</b> @Model.Candidate.Name</pre>
            <pre><b>Position Applied :</b> @Model.Candidate.Position.PositionDescription</pre>
            <pre><b>Email Id         :</b> @Model.Candidate.Email</pre></h5>
        </div>
        <div class="offset-md-3 col-md-2">
            <h3>Marks Obtained : <span style="border:1px solid black; padding-left:5px;padding-right:5px">@Model.Candidate.Marks</span></h3>
        </div>

    </div>

    <div class="offset-md-2 col-md-8">
        @foreach (var item in Model.ExamSubmissionResults)
        {
            counter = counter + 1;
            <h4><u>Question No.@counter</u></h4> @Html.Raw(item.QuestionDescription)
            <h4><u>Source Code:</u></h4>
            <pre>@item.SourceCode</pre>
            <h4><u>Output:</u></h4>
            <pre>@item.StandardOutput</pre>
            <hr style="border: 2px solid black">
        }
    </div>
</body>
</html>



