@model MCQQuestionsViewModel

<div class="container">
    <form method="post" asp-action="SubmitMCQTest" asp-controller="MCQExam">
        <input type="hidden" asp-for="@Model.CandidateId" />
        @for (int i = 0; i < Model.MCQQuestionsList.Count; i++)
        {
            <input type="hidden" asp-for="@Model.MCQQuestionsList[i].Id" />
            <input type="hidden" asp-for="@Model.MCQQuestionsList[i].MCQSubmissionResultId" />
            var questionNo = i + 1;
            <span>Question No. @questionNo  @Html.Raw(Model.MCQQuestionsList[i].Question)</span>

            <input type="radio" asp-for="MCQQuestionsList[i].SelectedAnswer" value="1" /> <label>@Html.Raw(Model.MCQQuestionsList[i].Option1)</label><br />
            <input type="radio" asp-for="MCQQuestionsList[i].SelectedAnswer" value="2" /><label>@Html.Raw(Model.MCQQuestionsList[i].Option2)</label><br />
            <input type="radio" asp-for="MCQQuestionsList[i].SelectedAnswer" value="3" /><label> @Html.Raw(Model.MCQQuestionsList[i].Option3)</label><br />
            <input type="radio" asp-for="MCQQuestionsList[i].SelectedAnswer" value="4" /><label>@Html.Raw(Model.MCQQuestionsList[i].Option4)</label><br />
        }
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit Test</button>
        </div>
    </form>
</div>
