@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<style type="text/css">
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size:14px;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
            padding: 0px;
        }

    .btn {
        font-size: 15px;
        font-weight: bold;
        width:100%;
    }
   
</style>

<div class="login-form">
    <form method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            @*<label asp-for="Email"></label>*@
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            @*<label asp-for="Password"></label>*@
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="form-group">
            <div class="checkbox float-left">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
            <a asp-action="ForgotPassword" class="float-right">Forgot Password?</a>
        </div>

        @*<div class="clearfix">
            <label asp-for="RememberMe" class="pull-left"><input asp-for="RememberMe"> @Html.DisplayNameFor(m => m.RememberMe)</label>
            <a asp-action="ForgotPassword" class="pull-right">Forgot Password?</a>
        </div>*@
    </form>
    <p class="text-center"><a asp-action="Register">Create an Account</a></p>
</div>
@*<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Login</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div>
                <a asp-action="ForgotPassword">Forgot Password?</a>
            </div>
        </form>
    </div>*@

@*<div class="col-md-6">
        <h1>External Login</h1>
        <hr />
        @{
            if (Model.ExternalLogins.Count == 0)
            {
                <div>No external logins configured</div>
            }
            else
            {
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" style="width:auto"
                                    name="provider" value="@provider.Name"
                                    title="Login usin your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }
        }
    </div>*@
@*</div>*@